<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6 my-5">
          <div class="preview-pic tab-content">
            <div
              class="d-flex flex-row align-items-center justify-content-center"
            >
              <img [src]="selectedProduct.thumbnail" />
            </div>
          </div>
          <ul
            class="d-flex flex-row list-unstyled align-items-center justify-content-center"
          >
            <li *ngFor="let img of selectedProductImages">
              <img [src]="img" style="width: 70%" />
            </li>
          </ul>
        </div>
        <div class="details col-md-6 my-5">
          <h3 class="product-title">{{ selectedProduct.title }}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description">
            {{ selectedProduct.description }}
          </p>
          <h4 class="price">
            current price: <span>{{ selectedProduct.price }}</span>
          </h4>

          <div class="action">
            <button class="add-to-cart btn btn-dark" type="button">
              add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
