<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h2>Sign in</h2>
        <form #logInForm="ngForm" (ngSubmit)="loginFun(logInForm)">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="logInEmail">Email address</label>

            <input
              type="email"
              id="logInEmail"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              name="logInEmail"
              ngModel
              #logInEmail="ngModel"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              required
            />
            <div class="text-danger">
              <span *ngIf="logInEmail.touched && logInEmail.invalid">
                Invalid Email
              </span>
              <span
                *ngIf="logInEmail.touched && logInEmail.errors?.['required']"
              >
                Email is required
              </span>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="loginPassword">Password</label>

            <input
              type="password"
              id="loginPassword"
              class="form-control form-control-lg"
              placeholder="Enter password"
              name="logIn-password"
              required
              ngModel
              #logInPassword="ngModel"
            />
            <div
              class="text-danger"
              *ngIf="logInPassword.touched && logInPassword.errors?.['required']"
            >
              must enter password
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a routerLink="/register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
